@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url(3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Adjusted to cover the entire viewport */
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98.8%;
    background: rgba(0, 0, 0, 0.40);
    z-index: 1;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/* center the navbar in the middle of the page and a little darker */
.header .navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.75);
    padding: 20px 0;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: gold;
}
.logo {
    display: block;
    margin: 0 auto; /* Center the logo horizontally */
    max-width: 15%; /* Adjust the max-width as needed for your design */
    height: 250px; /* Maintain the aspect ratio */
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-20deg) scale(0.8);
    animation: parallax 10s ease-in-out infinite alternate; /* Apply animation for the parallax effect */
    z-index: 1;
}

@keyframes parallax {
    0% {
        transform: translate(-50%, -50%) rotate(-20deg) scale(0.8);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-20deg) scale(1.2);
    }
}
h1 {
    font-size: 50px;
    color: #fff;
    text-align: center;
    margin-top: 27%;
    margin-bottom: 20px;
    z-index: 1;
}
/* quote -------------------------------------------------------------------------------*/
.quote {
    text-align: center;
    margin-top: 18.55%; /* Adjust the margin as needed */
}

.quote p {
    line-height: 1;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.breaker_quote {
    background: url(smoke.jpg);
    background-size: cover;
    padding: 30px;
    
}

.breaker_quote p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.breaker_quote p:last-child {
    margin-bottom: 0;
}
/* image slider ---------------------------------------------------------------------------*/
.image-slider .container {
    width: 100%;
    height: 100vh;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper {
    width: 80%; /* Adjust the width as needed */
    height: 90vh; /* Adjust the height as needed */
}

.swiper-slide img {
    width: 100%;
    height: 90%;
    object-fit: cover; /* Maintain aspect ratio and cover the slide */
}

.swiper .swiper-button-prev, .swiper .swiper-button-next {
    color: #fff;
    font-size: 1.5rem; /* Adjust the font size as needed */
}

/* QUOTE 2 ------------------------------------------------------------------------*/
.quote2 p{
    font-size: 20px;
    line-height: 1;
    font-style: italic;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.quote2 a{
    color: gold;
    font-size: 30px;
    line-height: 1;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 47%;
    
    /*hide the underline*/
    text-decoration: none;
}

/* BANNER ------------------------------------------------------------------------*/

.fbanner{
    background: url(foodbanner.jpg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 10vh; /* Adjusted to cover the entire viewport */
}

/* ABOUT US ------------------------------------------------------------------------*/
.aboutus {
    position: relative; /* Ensure positioning context for ::before pseudo-element */
    background: url(aboutbackground.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.aboutus::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Adjusted to cover the entire .aboutus element */
    background: rgba(0, 0, 0, 0.40);
    z-index: 1;
}

.aboutus .about-text {
    display: flex;
    flex-wrap: wrap;
    padding-left: 27%;
}

.aboutus .about-text h2 {
    font-size: 25px;
    color: #fff;
    text-align: left;
    flex: 1 1 100%;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-top: 30px;
    z-index: 1;
}

.aboutus .about-text p {
    font-size: 20px;
    line-height: 1;
    margin-bottom: 20px;
    color: #fff;
    width: 30%; /* Adjust the percentage as needed */
    text-align: center;
    z-index: 1;
}


.aboutus .about-text img {
    width: 35%;
    height: 35%;
    padding-left: 5%; /* Adjust the padding or margin as needed */
    padding-bottom: 20px;
    z-index: 1;
}

.aboutus .about-text h3{
    font-size: 25px;
    color: #fff;
    text-align: left;
    flex: 1 1 100%;
    padding-bottom: 20px;
    padding-left: 3%;
    padding-top: 30px;
    z-index: 1;
}

/* footer ------------------------------------------------------------------------*/
.footer {
    background-image: url(smoke.jpg);
    background-size: cover; /* You can adjust this based on your design */
    padding: 20px 0;
}


.footer h2{
    font-size: 25px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    z-index: 1;
}
.footer p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}

.footer p:last-child {
    margin-bottom: 0;
}








